@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-oneAndHalf font-bold;
	}
	h2 {
		@apply text-half font-bold;
	}
	h3 {
		@apply text-third font-bold;
	}
	body {
		@apply bg-background text-foreground;
	}
	div,
	main,
	section,
	header,
	footer {
		@apply flex flex-col;
	}
}

:root {
	--tile-size: 12.5vw;
}
@media (min-width: 768px) {
	:root {
		--tile-size: 10vw;
	}
}
@media (min-width: 1024px) {
	:root {
		--tile-size: 5.5555556vw;
	}
}
