@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-oneAndHalf font-bold;
	}
	h2 {
		@apply text-half font-bold leading-tile;
	}
	h3 {
		@apply text-third font-bold;
	}
	p,
	a {
		@apply text-fifth;
	}
	body {
		@apply bg-background text-foreground;
	}
	div,
	main,
	section,
	header,
	footer {
		@apply flex flex-col;
	}
	input[type='text'],
	input[type='email'] {
		@apply bg-background appearance-none border-t-stroke border-t border-b-2 border-b-foreground mb-quarter;
		height: calc(var(--tile-size) / 4 * 3);
	}
}

::-webkit-scrollbar {
	position: absolute;
	right: 0;
	width: 0;
}

:root {
	--tile-size: 12.5vw;
}
@media (min-width: 768px) {
	:root {
		--tile-size: 10vw;
	}
}
@media (min-width: 1024px) {
	:root {
		--tile-size: 5.5555556vw;
	}
}

::selection {
	@apply bg-brand text-background;
}
