@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div,
section,
header,
footer,
nav {
	display: flex;
	flex-direction: column;
}

section {
	@apply relative;
}

:root {
	--tile-size: 12.5vw;
	--background: #161616;
	--background-secondary: #2d2d2d;
	--foreground: white;
	--brand: #f22f57;
	overflow-y: overlay;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	position: absolute;
	right: 0;
	width: 0;
}

@media (min-width: 768px) {
	:root {
		--tile-size: 10vw;
	}
}

@media (min-width: 1024px) {
	:root {
		--tile-size: 5.5555556vw;
	}
}

::selection {
	background: var(--brand);
	color: var(--background);
}

body {
	color: var(--foreground);
	background-image: linear-gradient(
			var(--background-secondary) 1px,
			transparent 1px
		),
		linear-gradient(
			90deg,
			var(--background-secondary) 1px,
			transparent 1px
		);
	background-size: var(--tile-size) var(--tile-size);
	background-color: var(--background);
}

h1, h2, h3, h4 {
	@apply font-semibold pb-quarter lg:pb-0;
}
h1 {
	@apply text-oneAndHalf;
}

h2 {
	@apply text-half;
}

h3 {
	@apply text-third;
}

button, p {
	@apply text-quarter;
}

button {
	@apply uppercase;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
.cont-p {
	@apply px-tile lg:px-double;
}

.cont-m {
	@apply mx-tile lg:mx-double;
}


input[type="text"],
input[type="date"],
input[type="email"] {
	@apply bg-background appearance-none border-t-backgroundSecondary border-t border-b-2 border-b-foreground mb-quarter;
	height: calc(var(--tile-size) / 4 * 3)
}

.menu-item {
	@apply text-third w-full h-tile border-b border-backgroundSecondary flex items-center px-tile hover:bg-backgroundSecondary transition-colors ease-out bg-background shrink-0 justify-between;
}